html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif !important;
  font-size: 14px !important;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

/*  color: #212121;*/
 /*text-rendering: optimizeLegibility;*/

  /*background-color: #f6f6f6;*/
      color: #3f3f3f;
}
.mdl-button {
  min-width: 20px !important;
}
.mdl-layout__content {
  z-index: 1 !important
}
.mdl-color--systel {

  /* background-color: rgb(56, 89, 136) !important;*/
}
.mdl-color--systel-footer {

  /* background-color: #336699 !important;*/
}
.section__play-btn {
  min-height: 200px;
}
.mdl-card {
  display: flex;
  flex-direction: column;
  height: auto;
}
.content {
  padding-bottom: 60px;
}
.content a{
  color: #5c6bc0 !important;
}
p,ul,ol,li,a,span {
  
  font-size: 16px !important;
}
.content p {

  font-size: 16px !important;
}
footer {
  height: 60px;
}
.avatar {
  height: 25px;
}
.header-title {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
}
blockquote {
  background-color: rgba(128, 128, 128, 0.05);
  border-bottom-right-radius: 5px;
  border-left-width: 10px;
  border-top-right-radius: 5px;
  padding: 15px 20px;
  max-width: 720px;
}
blockquote::before, blockquote::after {
  content: "" !important;
}
blockquote {
  border-left: 5px solid #3F51B5;
  margin: 0 0 21px;
  padding: 10.5px 21px;
}
.header-title .chapter-title {
  display: none;
}
@media screen and (min-width:760px) {
  .is-compact .header-title .chapter-title {
    display: block;
  }
}
.header-title span {
  float: left;
}
.layout-waterfall .mdl-layout__header .mdl-layout__drawer-button {

  /*color: rgba(0, 0, 0, 0.54);*/
}
.mdl-layout__drawer {

  /*  width: 268px !important;*/
}
.mdl-layout__header {

  /*  margin-left: 268px !important;
  width: calc(100% - 268px) !important;*/
}
.mdl-layout__content {

  /*margin-left: 268px !important; */
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.drawer {
  border: none;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}
.drawer:hover {
  border: none;
  overflow-y: auto !important;
}
.systel-logo-bottom {
  border-top: 1px solid #e0e0e0;
  height: 96px;
  line-height: 24px;
  padding: 31px 16px;
  width: 100%;
}
.systel-logo-bottom img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.layout-waterfall-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type {
  padding-right: 0;
}
.drawer .mdl-menu__container {
  z-index: -1;
}
.drawer .mdl-navigation {
  z-index: -2;
}
.drawer .mdl-menu .mdl-menu__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.drawer-header {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0;
  border-bottom: 1px solid #e0e0e0;
  display: block;
  height: 64px;
  padding: 20px 0 10px 20px;
  position: relative;
}
.mdl-navigation {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background-color: #fff;
}
.content {
  padding-bottom: 96px;
}
.mdl-layout__drawer {
  overflow-x: hidden !important;
  overflow-y: auto;
}
.mdl-layout__drawer .mdl-navigation .sys-collapsible li  .mdl-navigation__link, .mdl-navigation__section {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
  padding: 15px 0 15px 22px !important;


}
.mdl-navigation-top {
  align-items: bottom;
  flex-direction: row;
  height: 64px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
}
.mdl-navigation-top a {
  text-transform: uppercase;
  padding: 0 16px !important;
}
.mdl-navigation-top a.current {
  border-bottom: 4px solid orange
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link .active {
}
.mdl-layout__drawer .mdl-navigation .sys-collapsible li .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.mdl-layout__drawer .mdl-navigation>a:first-of-type {
  /*padding: 10px 12px !important;*/
}
.mdl-layout__drawer a.mdl-navigation__link .material-icons {
  padding-right: 4px;
  vertical-align: middle;
  font-size:26px;
}
.mdl-card__actions a.mdl-button .material-icons {
  padding-right: 4px;
  vertical-align: middle;
  font-size:26px;
}
.mdl-navigation .sys-collapsible li a .material-icons {
  padding-right: 4px;
  vertical-align: middle;
  font-size:26px;
}
.mdl-navigation .sys-collapsible li a .mdl-navigation__link, .mdl-navigation .navigation__section {



  /*color: rgba(255, 255, 255, 0.86);*/
  margin-right: 22px;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  padding: 10px 20px !important;

}
.page-content {

  /*min-height:calc(100vh - 96px);*/width: 100%;
}
.content {
  max-width: 760px;
  width: 100%;
}
.mdl-layout__content {
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-flex-direction: column;
  flex-direction: column;
}
footer {
  clear: left;
  height: 96px;
  padding-left: 240px;
  position: relative;
  width: 100%;
  z-index: 0;
  -webkit-transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
footer .footer-L {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50.1%;
  z-index: -1;
  -webkit-transform: translateX(120px);
  -moz-transform: translateX(120px);
  -ms-transform: translateX(120px);
  -o-transform: translateX(120px);
  transform: translateX(120px);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: -moz-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width:1479px) {
  footer .footer-L {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@media screen and (max-width:760px) {
  footer .footer-L {
    height: 96px;
    width: 56px;
    z-index: 1;
  }
}
.mdl-layout__content.mdl-grid {
  padding: 0 !important;
  margin-right: 0 !important;
}
#main {
  background: #fafafa;
  float: left;
  height: 100%;
  padding-bottom: 100px;
  padding-left: 240px;
  width: 100%;
  -webkit-transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: padding-left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width:1479px) {
  #main {
    padding-left: 0;
  }
}
@media screen and (max-width:760px) {
  #main {
    padding-bottom: 0;
  }
}
#main section.grid_outer {
  margin: auto;
  width: 1080px;
  *zoom: 1;
}
#main section.grid_outer:before {
  content: " ";
  display: table;
}
#main section.grid_outer:after {
  clear: both;
  content: " ";
  display: table;
}
@media screen and (max-width:1240px) {
  #main section.grid_outer {
    width: 760px;
  }
}
@media screen and (max-width:760px) {
  #main section.grid_outer {
    width: 360px;
  }
}
@media screen and (max-width:360px) {
  #main section.grid_outer {
    width: 100%
  }
}
.chapter {
  font-family: "RobotoDraft", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}
#main .chapter {
  padding-top: 80px;
}
@media screen and (max-width:760px) {
  #main .chapter {
    padding-top: 60px;
  }
}
footer .footer-R {
  float: left;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  z-index: -1;
  -webkit-transform: translateX(120px);
  -moz-transform: translateX(120px);
  -ms-transform: translateX(120px);
  -o-transform: translateX(120px);
  transform: translateX(120px);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: -moz-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width:1479px) {
  footer .footer-R {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@media screen and (max-width:760px) {
  footer .footer-R {
    height: 96px;
    width: 100%;
    z-index: 0;
  }
}
footer .footer-grid {
  height: 100%;
  margin: auto;
  width: 1080px;
  z-index: 20;    /* background-color: #3f51b5 !important;*/
}
footer .footer-grid .footer-grid-L {
  height: 100%;
  float: left;
  width: 50%
}
@media screen and (max-width:760px) {
  footer .footer-grid .footer-grid-L {
    z-index: 1;
  }
}
footer .footer-grid a.footer-text {
  color: rgba(255, 255, 255, .86);
  text-decoration: none;
}
footer .footer-grid .footer-grid-L .footer-text {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  line-height: 24px;
  padding-top: 24px;
  width: 100%
}
footer .footer-grid .footer-grid-L .footer-text .arrow-L {
  float: left;
  margin-right: 10px;
  padding-top: 23px;
  width: 24px;
}
@media screen and (max-width:760px) {
  footer .footer-grid .footer-grid-L .footer-text .arrow-L {
    float: left;
    margin-right: 10px;
    width: 24px;
  }
}
footer .footer-grid .footer-grid-L .footer-text span {
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 1px;
}
@media screen and (max-width:760px) {
  footer .footer-grid .footer-grid-L .footer-text span {
    display: none;
  }
  footer .footer-grid .footer-grid-R .footer-text span {
    display: none;
  }
}
@media screen and (max-width:760px) {
  footer .footer-grid .footer-grid-L .footer-text div {
    display: none;
  }
  footer .footer-grid .footer-grid-R .footer-text div {
    display: none;
  }
}
@media screen and (max-width:760px) {
  footer .footer-grid .footer-grid-L {
    left: 26px;
    position: absolute;
  }
  footer .footer-grid .footer-grid-R {
    right: 26px;
    position: absolute;
  }
}
footer .footer-grid .footer-grid-R {
  height: 100%;
  float: right;
  text-align: right;
  width: 50%
}
footer .footer-grid .footer-grid-R .footer-text {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  line-height: 24px;
  padding-top: 24px;
  width: 100%
}
footer .footer-grid .footer-grid-R .footer-text .arrow-R {
  float: right;
  margin-left: 10px;
  padding-top: 23px;
  width: 24px;
}
footer .footer-grid .footer-grid-R .footer-text span {
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 1px;
}
@media screen and (max-width:760px) {
  footer .footer-grid .footer-grid-R {
    position: absolute;
    right: 30px;
    width: 75%
  }
}
@media screen and (max-width:1479px) {
  footer .footer-grid {
    width: 1080px;
  }
}
@media screen and (max-width:1240px) {
  footer .footer-grid {
    width: 760px;
  }
}
@media screen and (max-width:760px) {
  footer .footer-grid {
    position: relative;
    width: 100%
  }
}
@media screen and (max-width:360px) {
  footer .footer-grid {
    padding-right: 10px;
    width: 100%
  }
}
@media screen and (max-width:1479px) {
  footer {
    padding-left: 0;
    z-index: 0;
  }
}
@media screen and (max-width:760px) {
  footer {
    height: 92px;
  }
}
@media screen and (max-width:360px) {
  footer {
    height: 80px;
  }
}
.chapter-content {
  clear: both;
  display: block;
  width: 100%;
}
.chapter-content dt {
  font-weight: bold;
  margin: 15px 50px 5px;
}
.chapter-content dt::before {
  content: "help";
  font-family: 'Material Icons' !important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -ms-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  margin-right: 7px;
  padding: 0 8px 5px 8px;
  color: #B6B6B6;
  font-weight: normal;
  margin-left: -47px;
  position: relative;
  top: 5px;
}
.chapter-content dd {
  margin: 10px 50px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: 20px;
  line-height: 150%;
}
.chapter-content dd::before {
  content: "done";
  font-family: 'Material Icons' !important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  -ms-font-feature-settings: "liga" 1;
  margin-right: 7px;
  padding: 0 9px;
  color: #3F51B5;
  margin-left: -47px;
  position: relative;
  top: 5px;
  .material-icons
}
.chapter-content ul#markdown-toc {
  background-color: rgba(128, 128, 128, 0.05);
  border-bottom-right-radius: 5px;
  border-left-width: 10px;
  border-top-right-radius: 5px;
  border-left: 5px solid #FF9800;
  list-style: none;
  margin: 24px;
  padding: 0;
  padding-left: 8px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.chapter-content ul#markdown-toc h4 {
  font-size: 0.9rem;
  margin-top: 0;
}
.chapter-content ul#markdown-toc a {
  color: #3F51B5;
  text-decoration: none;
  font-size: 16px;
  line-height: 28px;
  display: block;
}
table {
  margin-bottom: 20px;
  width: 100%;
  height: auto;
}
.mdl-data-table {
  width: 100%;
  white-space: pre-wrap !important;
}
.mdl-data-table th, .mdl-data-table td {

  /* border:1px solid rgba(0,0,0,.1);*/
}
ul li.mdl-menu__item a {
  text-decoration: none;
  background-color: transparent;
  color: rgba(0, 0, 0, .87) !important;
}
ul li.mdl-menu__item a:hover {
  background-color: transparent !important;
}
.demo-card-square.mdl-card {
  width: 100%;
  height: 320px;
  min-width: 250px; /* width: 320px;
   height: 320px;


   width: 100%;
   height:100%;*/
}
.mdl-card__actions {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.demo-card-square  .mdl-card__title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}
.cuora-2 .demo-card-square  .mdl-card__title {
  background: url('../images/cuora-2-balanza.png') center right 15% no-repeat orange;
}
.cuora-max .demo-card-square  .mdl-card__title {
  background: url('../images/cuora-max-balanza.png') center right 15% no-repeat orange;
}
.cuora-neo .demo-card-square  .mdl-card__title {
  background: url('../images/cuora-neo-balanza.png') center right 15% no-repeat orange;
}
.cuora-flex .demo-card-square  .mdl-card__title {
  background: url('../images/cuora-flex-balanza.png') center right 15% no-repeat orange;
}
.mdl-card__title-text {
  -webkit-align-self: stretch !important;
  -ms-flex-item-align: stretch !important;
  align-self: stretch !important;
}
.sys-collapsible {
  list-style: none;
  padding: 10px;
}
.sys-collapsible li.header {
  color: #3f3f3f;
  padding: 4px 6px;
}
.sys-collapsible li {
  margin: 0;
}
.sys-collapsible li a.active {
  font-weight: 700
}
.sys-collapsible li a {
  text-decoration: none;
  color: #3f3f3f;
  display: block;
  padding: 8px 6px;
  font-size: 14px !important;
}
.sys-collapsible li a:hover {
  background: #F8F8F8;
  text-decoration: none;
}
.sys-collapsible li ul {
  list-style: none;
  display: none;
  margin: 0;
  padding: 0;
}
.sys-collapsible li ul li {
  margin: 0;
  border: 0;
}
.sys-collapsible li ul li:last-child {
  border-bottom: 0;
}
.sys-collapsible li ul li a {
  padding: 5px 6px;
  display: block;
  padding-left: 33px;
}
.sys-collapsible li ul li a:hover {
}

/*.sys-collapsible .dropdown > a { background: url(../images/arrowdown.png) no-repeat right center; }
.sys-collapsible .dropdown > a:hover { background: #F8F8F8 url(../images/arrowdown.png) no-repeat right center !important; }*/
.sys-collapsible li > .mdl-color-text--indigo-400 {

  /*font-weight: 700*/background-color: #f8f8f8;
}
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
  cursor: text;
  font-weight: bold;
  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;
  position: relative;
}
.header-link .material-icons {
  font: 16px;
  text-decoration: none;
  color: #9e9b95;
  padding: 5px;
  margin-left: -35px;
}
.header-link {
  bottom: 0;
  cursor: pointer;
  display: block;
  left: 0;
  margin-left: -30px;
  padding-left: 30px;
  padding-right: 6px;
  position: absolute;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s;
}
.header-link:hover {
  color: #ff00ff;
}
h2:hover .header-link, h3:hover .header-link, h4:hover .header-link, h5:hover .header-link, h6:hover .header-link {
  opacity: 1;
}
.content p {

  /*width: 100%;*/
}
ul.ref{list-style: none;}
p .center-image {
  margin: 0 auto;
  display: block;
}
p img {
  width: 100%;
  height: auto;
}
.figure-home figcaption {
  font-size: 1.3em;
  font-weight: 700;
  padding: 15px;
  text-align: right
}
figure img {
  width: 100%;
  height: auto;
}
.figure-home {
  padding: 20px;
  max-width: 400px;
}

.figure-home-peque {
  display:block;
  margin:auto;
  max-width: 250px;
}

.figure-home-medio {
  display:block;
  margin:auto;
  max-width: 450px;
}

.figure-home-icono {
  display:block;
  margin:auto;
  max-width: 80px;
}

.figure-home-muypeque {
  display:block;
  margin:auto;
  max-width: 40px;
}

.subheading {
  color: #fff;
}
.subheading h3 {
  margin: 0 auto;
  padding-bottom: 24px;
  padding-top: 24px;
  width: 100%;
  max-width: 760px;
}
.note::before{
  content: "assignment";
}
.note{
  color: rgba(0, 0, 0, 0.84);
  background-color: #fff4cc;
}
.warning::before
{
  content: "warning";
}

.warning{
  color: rgba(255, 255, 255, 0.84);
  background-color: #ff5722;
}
.alert-message::before {

  font-family: "Material Icons" !important;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  margin: 10px 0 -5px -48px;
  text-align: center;
  width: 24px;
  float: left;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
.alert-message {

  padding-left: 60px;
  padding-top: 20px;
  padding-right: 5px;
  padding-bottom: 20px;
  font-size: 18px;/*  background-color: rgba(128, 128, 128, 0.05);*/
  border-bottom-right-radius: 5px;
  border-left-width: 10px;
  border-top-right-radius: 5px;
  border-left: 5px solid rgba(0, 0, 0, 0.2);
}
.warning a{  color: rgba(255, 255, 255, 0.84) !important;}
figcaption {
  padding-top: 20px;
  padding-bottom: 20px;
  font-style: italic;
  text-align: center;
}
.clear {
  clear: both;
  padding-top: 40px;
}
img.responsive-fill {
  width: 100%;
  height: auto;
}
img.responsive-shrink {
  max-width: 100%;
  height: auto;
}
table.def,table.defkeys{
    margin-bottom: 20px;
}
table.def,table.defkeys{
    background-color: #fff;
    max-width: 100%;
}
table.def,table.defkeys{
    border-collapse: collapse;
    border-spacing: 0;
}
table.def thead th{
    vertical-align: bottom;
      border-top: none;
}
table.def th, table.defkeys th {
    font-weight: bold;
}
table.def th, table.def td {
    border-top: 1px solid rgba(128, 128, 128, 0.1);
    line-height: 20px;
    padding: 8px;
    /*vertical-align: top;*/
}
 table.defkeys th, table.defkeys td
 {
    border: 1px solid rgba(128, 128, 128, 0.8);
    line-height: 20px;
    padding: 8px;
    /*vertical-align: top;*/
}
.mls {
	margin-left: .25em;
}
hr{
  -moz-box-sizing: content-box;
   box-sizing: content-box;
   height: 3px;
 margin-top: 21px;
   margin-bottom: 21px;
   border: 0;
   border-top: 1px solid rgba(128, 128, 128, 0.1) !important;
   width: 100%;
}
ol.listNum{
    min-width: 100%;
}
ul.listAbc{
  list-style: upper-alpha;
  min-width: 100%;
}
h5{min-width: 100%;}
.fullwidth
{
  min-width: 100%;
}
/*systel font cuora neo */

.bg-1{background: #C7CFD9;}
.bg-2{background: #FCBD30 !important;}
.bg-3{background: #007DCC !important;color:#C7CFD9;}

@font-face {
	font-family: 'SystelCuoraNeo';
	src:url('fonts/SystelCuoraNeo.eot?jwkrld');
	src:url('fonts/SystelCuoraNeo.eot?jwkrld#iefix') format('embedded-opentype'),
		url('fonts/SystelCuoraNeo.ttf?jwkrld') format('truetype'),
		url('fonts/SystelCuoraNeo.woff?jwkrld') format('woff'),
		url('fonts/SystelCuoraNeo.svg?jwkrld#SystelCuoraNeo') format('svg');
	font-weight: normal;
	font-style: normal;
}
table.defkeys td:nth-child(1) {
    background: #c7cfd9 none repeat scroll 0 0;

}
table.defkeys [class^="systel-"], [class*=" systel-"] {
  font-size: 30px !important;
}

[class^="systel-"], [class*=" systel-"] {
	font-family: 'SystelCuoraNeo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  padding: 5px;
  font-size: 16px;
  border-radius: 0.3125em;
  background: #C7CFD9;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.systel-tecla-1:before {
	content: "\e900";
}
.systel-tecla-2:before {
	content: "\e901";
}
.systel-tecla-3:before {
	content: "\e902";
}
.systel-tecla-4:before {
	content: "\e903";
  padding-left: 15px;
  padding-right: 15px;
}
.systel-tecla-5:before {
	content: "\e904";
}
.systel-tecla-6:before {
	content: "\e905";
}
.systel-tecla-7:before {
	content: "\e906";
}
.systel-tecla-8 .path1:before {
	content: "\e907";
	color: rgb(254, 254, 254);
}
.systel-tecla-8 .path2:before {
	content: "\e908";
	margin-left: -1.4345703125em;
	color: rgb(33, 46, 56);
}
.systel-tecla-8 .path3:before {
	content: "\e909";
	margin-left: -1.4345703125em;
	color: rgb(199, 207, 217);
}
.systel-tecla-8 .path4:before {
	content: "\e90a";
	margin-left: -1.4345703125em;
	color: rgb(33, 46, 56);
}
.systel-tecla-9:before {
	content: "\e90b";
  font-size: 48px !important;
}
.systel-tecla-10:before {
	content: "\e90c";
}
.systel-tecla-11 .path1:before {
	content: "\e90d";
	color: rgb(33, 46, 56);
}
.systel-tecla-11 .path2:before {
	content: "\e90e";
	margin-left: -1.63671875em;
	color: rgb(199, 207, 217);
}
.systel-tecla-11 .path3:before {
	content: "\e90f";
	margin-left: -1.63671875em;
	color: rgb(199, 207, 217);
}
.systel-tecla-11 .path4:before {
	content: "\e910";
	margin-left: -1.63671875em;
	color: rgb(199, 207, 217);
}
.systel-tecla-11 .path5:before {
	content: "\e911";
	margin-left: -1.63671875em;
	color: rgb(199, 207, 217);
}
.systel-tecla-11 .path6:before {
	content: "\e912";
	margin-left: -1.63671875em;
	color: rgb(199, 207, 217);
}
.systel-tecla-11 .path7:before {
	content: "\e913";
	margin-left: -1.63671875em;
	color: rgb(199, 207, 217);
}
.systel-tecla-11 .path8:before {
	content: "\e914";
	margin-left: -1.63671875em;
	color: rgb(199, 207, 217);
}
.systel-tecla-11 .path9:before {
	content: "\e915";
	margin-left: -1.63671875em;
	color: rgb(199, 207, 217);
}
.systel-tecla-11 .path10:before {
	content: "\e916";
	margin-left: -1.63671875em;
	color: rgb(199, 207, 217);
}
.systel-tecla-11 .path11:before {
	content: "\e917";
	margin-left: -1.63671875em;
	color: rgb(199, 207, 217);
}
.systel-tecla-11 .path12:before {
	content: "\e918";
	margin-left: -1.63671875em;
	color: rgb(199, 207, 217);
}
.systel-tecla-11 .path13:before {
	content: "\e919";
	margin-left: -1.63671875em;
	color: rgb(199, 207, 217);
}
.systel-tecla-12:before {
	content: "\e91a";
}
.systel-tecla-13:before {
	content: "\e91b";
}
.systel-tecla-14:before {
	content: "\e91c";
}
.systel-tecla-15:before {
	content: "\e91d";
}
.systel-tecla-16:before {
	content: "\e91e";
}
.systel-tecla-17:before {
	content: "\e91f";
}
.systel-tecla-18:before {
	content: "\e920";
}
.systel-tecla-19:before {
	content: "\e921";
}
.systel-tecla-20:before {
	content: "\e922";
}
.systel-tecla-21:before {
	content: "\e923";
}
.systel-tecla-22:before {
	content: "\e924";
}
.systel-tecla-23:before {
	content: "\e925";
}
.systel-tecla-24:before {
	content: "\e926";

}
.systel-tecla-25:before {
	content: "\e927";
}
.systel-tecla-26:before {
	content: "\e928";
}
.systel-tecla-27:before {
	content: "\e929";
}
.systel-tecla-28 .path1:before {
	content: "\e92a";
	color: rgb(33, 46, 56);
}
.systel-tecla-28 .path2:before {
	content: "\e92b";
	margin-left: -1.59765625em;
	color: rgb(0, 0, 0);
}
.systel-tecla-28 .path3:before {
	content: "\e92c";
	margin-left: -1.59765625em;
	color: rgb(0, 0, 0);
}
.systel-tecla-28 .path4:before {
	content: "\e92d";
	margin-left: -1.59765625em;
	color: rgb(0, 0, 0);
}
.systel-tecla-29:before {
	content: "\e92e";
}
.systel-tecla-30:before {
	content: "\e92f";
}
.menu-abm-plu-sprites-0000-capa-14, .menu-abm-plu-sprites-0001-capa-13, .menu-abm-plu-sprites-0002-capa-12, .menu-abm-plu-sprites-0003-capa-11, .menu-abm-plu-sprites-0004-capa-10,
.menu-abm-plu-sprites-0005-capa-9, .menu-abm-plu-sprites-0006-capa-8, .menu-abm-plu-sprites-0007-capa-7, .menu-abm-plu-sprites-0008-capa-6, .menu-abm-plu-sprites-0009-capa-5,
.menu-abm-plu-sprites-0010-capa-4, .menu-abm-plu-sprites-0011-capa-3, .menu-abm-plu-sprites-0012-capa-2, .menu-abm-plu-sprites-0013-capa-1
{ display: inline-block; background: url('../images/CSSimages/cuora-neo-abm-plu-sprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; margin-bottom: 20px;}

.menu-abm-plu-sprites-0000-capa-14 { background-position: -0px -0px; width: 80px; height: 80px; }
.menu-abm-plu-sprites-0001-capa-13 { background-position: -80px -0px; width: 80px; height: 80px; }
.menu-abm-plu-sprites-0002-capa-12 { background-position: -160px -0px; width: 80px; height: 80px; }
.menu-abm-plu-sprites-0003-capa-11 { background-position: -0px -80px; width: 80px; height: 80px; }
.menu-abm-plu-sprites-0004-capa-10 { background-position: -80px -80px; width: 80px; height: 80px; }
.menu-abm-plu-sprites-0005-capa-9 { background-position: -160px -80px; width: 80px; height: 80px; }
.menu-abm-plu-sprites-0006-capa-8 { background-position: -0px -160px; width: 80px; height: 80px; }
.menu-abm-plu-sprites-0007-capa-7 { background-position: -80px -160px; width: 80px; height: 80px; }
.menu-abm-plu-sprites-0008-capa-6 { background-position: -160px -160px; width: 80px; height: 80px; }
.menu-abm-plu-sprites-0009-capa-5 { background-position: -0px -240px; width: 80px; height: 80px; }
.menu-abm-plu-sprites-0010-capa-4 { background-position: -80px -240px; width: 80px; height: 80px; }
.menu-abm-plu-sprites-0011-capa-3 { background-position: -160px -240px; width: 80px; height: 80px; }
.menu-abm-plu-sprites-0012-capa-2 { background-position: -0px -320px; width: 80px; height: 80px; }
.menu-abm-plu-sprites-0013-capa-1 { background-position: -80px -320px; width: 80px; height: 80px; }

.menu-reportes-1, .menu-reportes-2, .menu-reportes-3, .menu-reportes-4, .menu-reportes-5,
.menu-reportes-6, .menu-reportes-7, .menu-reportes-8
{ display: inline-block; background: url('../images/CSSimages/cuora-neo-reportes-sprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; margin-bottom: 20px; }

.menu-reportes-1 { background-position: -0px -0px; width: 80px; height: 80px; }
.menu-reportes-2 { background-position: -80px -0px; width: 80px; height: 80px; }
.menu-reportes-3 { background-position: -0px -80px; width: 80px; height: 80px; }
.menu-reportes-4 { background-position: -80px -80px; width: 80px; height: 80px; }
.menu-reportes-5 { background-position: -0px -160px; width: 80px; height: 80px; }
.menu-reportes-6 { background-position: -80px -160px; width: 80px; height: 80px; }
.menu-reportes-7 { background-position: -0px -240px; width: 80px; height: 80px; }
.menu-reportes-8 { background-position: -80px -240px; width: 80px; height: 80px; }

.menu-configuracion-1, .menu-configuracion-10, .menu-configuracion-11, .menu-configuracion-12, .menu-configuracion-13,
.menu-configuracion-2, .menu-configuracion-3, .menu-configuracion-4, .menu-configuracion-5, .menu-configuracion-6,
.menu-configuracion-7, .menu-configuracion-8, .menu-configuracion-9
{ display: inline-block; background: url('../images/CSSimages/cuora-neo-configuracion-sprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left;  margin-bottom: 20px;}

.menu-configuracion-1 { background-position: -0px -0px; width: 80px; height: 80px; }
.menu-configuracion-10 { background-position: -80px -0px; width: 80px; height: 80px; }
.menu-configuracion-11 { background-position: -160px -0px; width: 80px; height: 80px; }
.menu-configuracion-12 { background-position: -0px -80px; width: 80px; height: 80px; }
.menu-configuracion-13 { background-position: -80px -80px; width: 80px; height: 80px; }
.menu-configuracion-2 { background-position: -160px -80px; width: 80px; height: 80px; }
.menu-configuracion-3 { background-position: -0px -160px; width: 80px; height: 80px; }
.menu-configuracion-4 { background-position: -80px -160px; width: 80px; height: 80px; }
.menu-configuracion-5 { background-position: -160px -160px; width: 80px; height: 80px; }
.menu-configuracion-6 { background-position: -0px -240px; width: 80px; height: 80px; }
.menu-configuracion-7 { background-position: -80px -240px; width: 80px; height: 80px; }
.menu-configuracion-8 { background-position: -160px -240px; width: 80px; height: 80px; }
.menu-configuracion-9 { background-position: -0px -320px; width: 80px; height: 80px; }

.img-capture{/*margin-left: 20px;*/ padding: 10px;  border: 1px solid #e0e0e0;background-color: #fafafa;
-webkit-box-shadow:5px 5px 10px rgba(0, 0, 0, 0.2);
-moz-box-shadow:    5px 5px 10px rgba(0, 0, 0, 0.2);
box-shadow:        5px 5px 10px rgba(0, 0, 0, 0.2);

}
.material-icons.title-separator{margin-top: 3px;}
p .material-icons.title-separator{line-height: 1.5;}

.item-step{padding-left: 30px;}
.item-step::before {
    float: left;
    font-family: "Material Icons" !important;
    font-feature-settings: "liga";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin: 0 -30px;
    text-align: center;
    text-rendering: optimizelegibility;
    background-color: #424242 !important;
    color: white;
    content: 'chevron_right';
    border-radius: 24px;
}

.download-cont {
  display: flex;
}

.download-sel {
  border: none;
  margin-left: 5px;
  font-size: 16px;
  color: #5c6bc0;
}
