{% assign base = site.url %}

{% assign depth = page.url | split: '/' | size | minus: 1 %}
{% if    depth == 1 %}{% assign base = '../' %}
{% elsif depth == 2 %}{% assign base = '../../' %}
{% elsif depth == 3 %}{% assign base = '../../../' %}
{% elsif depth == 4 %}{% assign base = '../../../../' %}

{% endif %}

<figure class="{{include.class}}">
  <img src="{{base}}images/{{page.lang}}/{{page.dir}}/{{include.url}}" alt="{{ include.alt }}" style="{{include.sizes}}"/>
  <figcaption>{{ include.description }}</figcaption>
</figure>
